
.fbenefits{
    max-width: 1280px;
    height: 100%;
    width: 100%;
    margin: 5rem auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.fbenefits .fb-heading{
    max-width: 1280px;
    width: 100%;
    font-size: clamp(1.5rem,3.5vw,3.2rem);
    padding: 0 ;
    color: #1a1a1a;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 auto 15px auto;
    text-align: center;

}
.fbenefits .fb-row{
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
    gap: 1rem;
}
.fbenefits .fb-col{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}



.fbenefits .fb-down{
    padding: 4rem 1rem 0 1rem ;
}



.fbenefits .fb-row .fb-col .fb-inner{
    width: 320px;
    z-index: 20;
    background-color: transparent;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0rem 0.5rem;
    flex-direction:column;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}

.fbenefits .fb-row .fb-col .fb-inner .fb-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
    height: 180px;
    object-fit: contain;
}
.fbenefits .fb-row .fb-col .fb-inner .fb-icon .fb-iconn{
    /* width: 100%; */
    height: 150px;
    
}

.fbenefits .fb-row .fb-col .fb-inner .fb-text{
    padding: 0 1rem;
    margin: 0;
}
.fbenefits .fb-row .fb-col .fb-inner .fb-text h2{
    font-size: var(--para);
    color: #1a1a1a;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
.fbenefits .fb-row .fb-col .fb-inner .fb-text p{
    margin-bottom: 20px;
    font-size: var(--small);
    line-height: 1.2;
    text-align: center;
    font-weight: 400;
    color: #292929;
}

.timeline{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: cover;
}
.timeline img{
    width: 100%;
    height: 100%;
}


@media (max-width:1360px) {
    .fbenefits .fb-col{
    width: 320px;
    gap: 2rem;
}
}

@media (max-width:1360px) {
    .fbenefits .fb-col{
    width: 100%;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
}
.fbenefits .fb-down{
    padding: 0 1rem;
}
}


