

.hddp{
    width: 100%;
    height: 70vh;
    /* padding: 2rem ; */

    background: url('./pxfuel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hddp .hddp-cont{
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 70vh;
    padding: 9rem 2rem 2rem;
    margin: 0 auto;

}

.hddpright{
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.hddpright>h1{
    color: var(--white);
    font-weight: 700!important;
    line-height: 1.3!important;
    letter-spacing: 1px;

    margin: 0;
    margin-bottom: 24px;
    font-size: var(--heading);
}
.hddpright>p{
    font-size: var(--para);
    width: 100%;
    text-align: left;
    color: var(--white);
    margin-bottom: 20px;
}
.hddpright p>span{
   font-weight: 600;
}
.hddpright .hddp-btn{
    margin-top: 20px;
    font-family: 'Poppins',  sans-serif;
    width: max-content;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #1179ef;
    font-size: 15.996px;
      line-height: 20px;
      padding:18px 30px ;
      border: none;
      /* background: #bdc3c7; */
      color: #ffffff;
      /* padding: 11px 12px 8px; */
      line-height: 22px;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;


}

.hddp .hddpleft{
    max-width: 600px;
    width: 100%;
    height: auto;

    display: flex;
    justify-content: right;
    position: absolute;
    bottom: 0;
    right: 1rem;
}
.hddp .hddpleft>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




@media (max-width:1000px) {
    .hddp .hddp-cont{

        flex-direction: column;
        /* position: relative; */
        gap: 3rem;
        height: 100%;
        padding: 2rem 0 0;
        align-items: center;

    }

    .hddpright{
        width: 60%;
        height: 100%;
        display: flex;
        padding: 2rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: static;
    
    }

    
.hddp .hddpleft{
    max-width: 600px;
    width: 100%;
    height: auto;
    position: static;
    display: flex;
    justify-content: center;
    padding:0 2rem ;
    /* position: absolute;
    bottom: 0;
    right: 1rem; */
}


}


@media (max-width:800px) {
    .hddpright{
        max-width: 600px;
        width: 100%;
    
    }

}










