.t-maindic{
    max-width: 1280px;
    width: 100%;
    margin: 5rem auto;
}

.t-insidediv{
    width: 60%;
    border: 1px solid var(--bg-grey);
    border-radius: 10px;
    padding: 0 3rem 1rem 3rem;
}

.t-insidediv h2{
    font-size: var(--para);
    margin: 10px 0;
}

.t-insidediv p{
    font-size: var(--para);
}

.t-profile{

    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 3rem;
    align-items: center;
    margin-bottom: 20px;

}
.t-profile .t-image{
    position: relative;
     /* display: flex; */
     /* flex-direction: row; */
     width: 80px;
     height: 80px;

}

.t-profile .t-image>img:nth-of-type(1){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    /* object-position: top; */
    position: absolute;
    /* bottom: -3rem; */
    box-shadow: var(--profileShadow);
}
.t-profile .t-image>img:nth-of-type(2){
   width: 80px;
   height: 80px;
   border-radius: 50%;
   object-fit: cover;
   /* object-position: top; */
   position: absolute;
   /* bottom: -3rem; */
   box-shadow: var(--profileShadow);
}
.t-profile h3{
    width: 100%;
    font-size: var(--para);
    color: #4e4e4e;
}





@media (max-width:800px) {
    .t-insidediv{
        width: 90%;
        margin: 0 auto;
        padding: 0 1rem 1rem 1rem;
    }
}


